<?xml version="1.0" encoding="utf-8" ?>

<routes>
    <route path="/" action="index" controller="FrontController"/>
    <route path="article" action="article" controller="FrontController" params="id"/>
    <route path="connexion" action="connexion" controller="FrontController"/>
    <route path="inscription" action="inscription" controller="FrontController"/>
</routes>